/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color: #17354c;   /* background color */
	color: #2c3236ff;          /* text color for the entire page */
font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}


h1, h2 { 
	color: #FFFFFF;
	text-align:center;     /* centers h1 and h2 content */
	font-family: "Lato", sans-serif;
	font-weight: 500;
	font-style: bold;
}
h3, h4 {
	color: #fff;
	text-align: left;
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 90%;
	margin: 0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:10px;
	text-align:left;
	background-color:#0097a7;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 150%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
 }

.stepContent{ 
	background-color: white;
	padding:7px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.stepDescription {
	width:65%;
	padding:5px;
	line-height:145%;
}

.stepImage {
	width:30%;	
	padding:5px;
	text-align: center;
}

.stepImage img {
    width:auto;
    height:200px;
}

strong {
  font-weight: 800;
}

.warning {
	background-color:#b7cbffff;
	padding:10px;
	border-radius:12px;
}
.material-icons {
	color:#6c8ad7ff;
	font-size:3em;
	padding-left:10px;
	padding-right:10px;
}